# -*- coding: utf-8 -*-
# vim: ft=jinja

{%- set os         = salt['grains.get']('os') %}
{%- set osrelease  = salt['grains.get']('osrelease') %}
{%- set oscodename = salt['grains.get']('oscodename') %}

{## Start with defaults from defaults.yaml ##}
{% import_yaml 'plymouth/defaults.yaml' as default_settings %}

{##
Setup variables using grains['os_family'] based logic, only add key:values
that differ from what is in defaults.yaml
##}
{% set os_family_map = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['plymouth', 'plymouth-themes'],
        'firmwares_pkgs': ['firmware-linux-nonfree'],
        'user': 'root',
        'group': 'root',
        'conf_file': '/etc/plymouth/plymouthd.conf',
        'themes_dir': '/usr/share/plymouth/themes',
        'initramfs_modules_file': '/etc/initramfs-tools/modules',
        'splash_conf_file': '/etc/initramfs-tools/conf.d/splash',
        'service_quit_file': '/lib/systemd/system/plymouth-quit.service',
        'service_quit_wait_file': '/lib/systemd/system/plymouth-quit-wait.service',
    },
}
, grain="os_family"
, merge=salt['pillar.get']('plymouth:lookup')) %}

{## Merge the flavor_map to the default settings ##}
{% do default_settings.plymouth.update(os_family_map) %}

{## Merge in plymouth:lookup pillar ##}
{% set plymouth = salt['pillar.get'](
        'plymouth',
        default=default_settings.plymouth,
        merge=True
    )
%}
